

.containerPicture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.worldMap {
    display: flex;
    flex-direction: column
}

.country-name-red {
    color: red;
    margin: 5px;
}
.country-name-blue {
    color: blue;
    margin: 5px;
}
.country-name-green {
    color: green;
    margin: 5px;
}
.country-name-purple {
    color: purple;
    margin: 5px;
}
.country-name-yellow {
    color: goldenrod;
    margin: 5px;
}

.country {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    max-height: 200px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

