

.containerPicture {
    display: flex;
    flex-direction: row;
    background-color: indianred;
    justify-content: center;
    padding: 20px;
}

.worldMap {
    display: flex;
    flex-direction: column
}

.country-name-red {
    color: red;
    margin: 5px;
}
.country-name-blue {
    color: blue;
    margin: 5px;
}
.country-name-green {
    color: green;
    margin: 5px;
}
.country-name-purple {
    color: purple;
    margin: 5px;
}
.country-name-yellow {
    color: yellow;
    margin: 5px;
}


.container {
    background-color: aqua;
    display: flex;
    max-height: 1200px;
}

.country {
    background-color: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 2000px;
    margin: 20px;
}

